name: docker build manager and release

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'

jobs:
  docker-build:
    strategy:
      matrix:
        type: ["worker", "manager"]
        tag: ["RELEASE_3_16", "RELEASE_3_15"]
        basetag: ["devel", "RELEASE_3_15"]
        exclude:
          - tag: RELEASE_3_16
            basetag: RELEASE_3_15
          - tag: RELEASE_3_15
            basetag: devel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push devel manager
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: inst/docker/Dockerfile.manager
          context: ./inst/docker
          push: true
          tags: bioconductor/bioc-redis-${{matrix.type}}:${{matrix.tag}}-azure
          build-args: |
            RELEASE=${{ matrix.basetag }}
            BRANCH=${{ github.sha }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
